<div class="modal-header">
    <h3>Data Base</h3>
</div>
<div class="modal-body">

    <textarea ng-model="bson" style="height:37px; width:390px"></textarea>
    <button class="btn" ng-click="saveBson(bson)">SaveBson</button>
    <textarea ng-model="query" style="height:37px; width:390px"></textarea>
    <button class="btn" ng-click="excuteQuery(query)">Query</button>
    <br />
    <textarea ng-model="result" style="height:260px; width:515px"></textarea>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>